<div class="newtraining z-depth-1 my-logo-text center">
  <h4 class="grey-text text-darken-1">
    <app-nametraining [nametraining]="informacaoPai"></app-nametraining>
  </h4>

<!--Teste de select-->

  











  <div class="row">
    <div class="col s12 m6 offset-m3">
      <a>
        <div class="card-panel red accent-4 my-card-button">
          <input type="text" class="validate" />
        </div>
      </a>
    </div>

    <div class="m6 offset-m7">
      <a routerLink="/weekdaytraining" class="btn-floating btn-large waves-effect waves-light amber"
      ><i class="material-icons">send</i></a
    >
    </div>


  </div>


  <div class="container contact">
    <div class="row">
      <div id="painel-login" class="row">
        <div class="col s12 m6 offset-m3">
          <a routerLink="/newtraining">
            <div
              id="botao-login"
              class="card-panel yellow accent-4 center my-card-button"
            >
              <span class="white-text flow-text"> VOLTAR </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
