<div class="newtraining z-depth-1 my-logo-text center">
  <h4 class="grey-text text-darken-1">
    <app-nametraining [nametraining]="informacaoPai"></app-nametraining>
  </h4>


  <table>
  <thead>
    <tr>
      <th data-field="td-date" class="center">Nome</th>
      <th data-field="td-value" class="center">Dia</th>
      <th data-field="td-value"class="center">Exercicio</th>
      <th data-field="td-date"class="center">Serie</th>
      <th data-field="td-value"class="center">Repetições</th>
      <th data-field="td-value"class="center">Peso</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let d of this.trainingListSave">
      <td class="center">{{d.name}}</td>
      <td class="center">{{d.day}}</td>
      <td class="center">{{d.exercise}}</td>
      <td class="center">{{d.serie}}</td>
      <td class="center">{{d.repetition}}</td>
      <td class="center">{{d.weight}}</td>

      <button  class="waves-effect waves-light btn-small  red darken-4" (click)="removeTraining(d)" >Remover LocalStorage</button>

      <button  class="waves-effect waves-light btn-small  red darken-4" (click)="testRemoveComService(d)" >Remover JSon-server</button>

    </tr>

  </tbody>
</table>
<br>
<button  routerLink="" class=" waves-effect waves-light btn-large  amber accent-4 center my-card-button white-text flow-text" >

  <a >

      <span class="white-text flow-text"> VOLTAR </span>

  </a>

  </button>


</div>
