<div class="newtraining z-depth-1 my-logo-text center">
  <h4 class="grey-text text-darken-1">
    <app-nametraining [nametraining]="informacaoPai"></app-nametraining>
  </h4>


  <table>
  <thead>
    <tr>
      <th data-field="td-date">Nome</th>
      <th data-field="td-value">Dia</th>
      <th data-field="td-value">Exercicio</th>
      <th data-field="td-date">Serie</th>
      <th data-field="td-value">Repetições</th>
      <th data-field="td-value">Peso</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let d of this.trainingListSave">
      <td>{{d.name}}</td>
      <td>{{d.day}}</td>
      <td>{{d.exercise}}</td>
      <td>{{d.serie}}</td>
      <td>{{d.repetition}}</td>
      <td>{{d.weight}}</td>
    </tr>

  </tbody>
</table>
<br>
<button  routerLink="" class=" waves-effect waves-light btn-large  amber accent-4 center my-card-button white-text flow-text" >

  <a >

      <span class="white-text flow-text"> VOLTAR </span>

  </a>

  </button>


</div>
