<footer class="page-footer  grey lighten-2 accent-4 " style=" bottom:0; left:0; width:100%;">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <img
          src="assets/images/logogym.png"
          id="logo-footer"
          class="img-responsive"
          height="50em"
        />
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      &copy; Copyright  {{this.year}} - Cleber S. Prestes
    </div>
  </div>

</footer>
