
<div class="container about">
  <div id="novo-treino" class="row">
    <div class="col s12 m6 offset-m3">
      <a routerLink="/newtraining">
        <div
          class="card-panel red accent-4 center my-card-button"
        >
          <span class="white-text flow-text"> NOVO TREINO </span>
        </div>
      </a>
    </div>
  </div>

<div id="treino-salvo" class="row">
  <div class="col s12 m6 offset-m3">
    <a >
      <div
        class="card-panel red accent-4 center my-card-button"
      >
        <span class="white-text flow-text"> TREINOS SALVOS </span>
      </div>
    </a>
  </div>

</div>
</div>

