

<div class="newtraining my-logo-text center">

  <h2 class="grey-text text-darken-1">
    <app-nametraining [nametraining]="informacaoPai" ></app-nametraining>
  </h2>

  <h5>{{dataOrigin}}</h5>


  <table class="highlight centered">
  <thead >

  </thead>
  <tbody >
    <tr *ngFor="let d of this.trainingListSave" >

      <td >{{d.name}}</td>
      <td ><button  class="waves-effect waves-light btn-small  red darken-4" (click)="removeTraining(d)" *ngIf="this.localOrigin" >Del Local</button></td>
      <td ><button  class="waves-effect waves-light btn-small  grey darken-4" (click)="testRemoveComService(d)" *ngIf="this.jsonOrigin">Del Server</button></td>

      <td><button  class="waves-effect waves-light btn-small  amber "  [routerLink]="['/trainingslist/detail', d.id]">Detalhes</button></td>

    </tr>
  </tbody>
</table>

<br>
<button  routerLink="" class=" waves-effect waves-light btn-large  amber accent-4 center my-card-button white-text flow-text" >
  <a >  <span class="white-text flow-text"> VOLTAR </span>  </a>
  </button>



</div>
