 /* label color */
 .input-field label {
  color: rgb(236, 22, 22);
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: rgb(247, 19, 19);
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 0px solid rgba(230, 14, 14, 0);
  box-shadow: 0 1px 0 0 rgb(236, 9, 9);
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid rgb(230, 6, 6);
  box-shadow: 0 1px 0 0 rgb(236, 10, 10);
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid rgb(206, 11, 11);
  box-shadow: 0 1px 0 0 rgb(202, 16, 16);
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: rgb(219, 14, 14);
}
