<div class="newtraining z-depth-1 center">
  <h4 class="grey-text text-darken-1">Nome do Treino</h4>
  <div id="painel-login" class="row">
    <div class="col s12 m6 offset-m3">
      <a>
        <div
          id="entrada-treino"
          class="card-panel red accent-4 center my-card-button"
        >
          <input id="nome-treino" type="text" [(ngModel)]="nameTraining" name="name"/>

        </div>
      </a>
    </div>
  </div>

  <h4 class="grey-text text-darken-1">Dias de treino</h4>
  <div class="row">
    <div class="col s12 m2 offset-m5">
      <a>
        <div class="card-panel red accent-4 center my-card-button">
          <input id="dias-treino" type="text" class="validate" />
        </div>
      </a>
    </div>
  </div>

  <div class="container contact">
    <div class="row">
      <div class="row">
        <div class="col s12 m6 offset-m3">
          <a routerLink="/newedittraining">
            <div class="card-panel red accent-4 center my-card-button">
              <span class="white-text flow-text"> CONTINUAR </span>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6 offset-m3">
          <a routerLink="">
            <div class="card-panel amber accent-4 center my-card-button">
              <span class="white-text flow-text"> VOLTAR </span>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6 offset-m3" >
          <a routerLink="">
            <div class="card-panel amber accent-4 center my-card-button">
              <span class="white-text flow-text"> SALVAR </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
