
  <header>

    <app-menu></app-menu>

  </header>

 
  <main>

    <router-outlet></router-outlet>
    <!-- intro -->

    <!--

<div class="intro red z-depth-1 my-logo-text">
      <h1 class="black-text text-lighten-5">GYM WORKOUT</h1>
      <h4 class="amber-text text-darken-1">NO PAIN NO GAIN!!!</h4>
    </div>

    <div class="container about">

    <div id="painel-login" class="row">
      <div class="col s12 m6 offset-m3">
        <a (click)="this.onButtonClick()">
          <div
            id="botao-login"
            class="card-panel red accent-4 center my-card-button"
          >
            <span class="white-text flow-text"> LOGIN </span>
          </div>
        </a>
      </div>
    </div>

      <div class="container contact"  [hidden]="this.isHideLogin">
        <h5>Usuario</h5>
        <h6>Entre com usuario e senha </h6>
        <div class="row">
          <div class="col s12">
            <div class="input-field col s12">
              <input id="nome-contato" type="text" class="validate" />
              <label for="nome-contato">Usuario</label>
            </div>
            <div class="input-field col s12">
              <input id="sobrenome-contato" type="text" class="validate" />
              <label for="sobrenome-contato">Senha</label>
            </div>
            <button
              id="botao-enviar-contato"
              class="btn waves-effect waves-light red darken-4"
              type="button"
             (click)="this.onButtonClickAgain()"
            >
              ENVIAR
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>

    </div>


    -->

  </main>



  <app-footer></app-footer>
