/* You can add global styles to this file, and also import other style files */

/*@import url("http://fonts.googleapis.com/icon?family=Material+Icons");*/

@import "~materialize-css/dist/css/materialize.css";
@import "~material-icons/iconfont/material-icons.css";


* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}


body,
html {
  background-color: #faf8f8 !important;
}

hr {
  width: 20% !important;
  border-bottom-color: rgb(132, 91, 209);
  border-width: medium;
}


.my-logo-text {
  font-family: "airborne";
}

.my-logo {
  height: 60px;
}

.my-header {
  padding: 1em 0em;
  font-weight: 600;
}

.my-content-header {
  font-weight: 600;
}

.my-wrapper-select {
  margin-bottom: 2em;
}

.my-year {
  text-decoration: underline;
  font-weight: bold;
  padding: 1em;
}

.my-panel-content {
  text-align: justify;
}

.my-center {
  display: block;
  margin: auto;
}

.my-card-button {
  cursor: pointer;
  border-radius: 20px;

}

table > tbody > tr {
  cursor: pointer;
}

/*
	Fixa o rodapé
*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.about .col {
  margin-bottom: 24px;
}

.about h5 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.about h6 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.about hr {
  width: 40px;
  margin-bottom: 45px;
}

.about .card {
  text-align: center;
}

.about .card img {
  margin-bottom: 15px;
}

.newtraining{

  text-align: center;
  padding-top: 13%;
  padding-bottom: 13%;
  margin-bottom: 50px;
  background-size: cover;


}


.intro {
  text-align: center;
  padding-top: 13%;
  padding-bottom: 13%;
  background-image: url("assets/images/academia.png");
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro h1 {
  font-weight: 900;
  text-transform: uppercase;
}

.intro h5 {
  text-transform: uppercase;
  background-color: #f5f5f5;
  padding: 10px;
  color: #333333;
  display: inline-block;
  font-size: 1.2rem;
}


footer {
  padding-top: 10px;
}



@font-face {
  font-family: "airborne";
  src: url("assets/fonts/airborne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}




.app-loading {
  margin-top: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #b4a90d;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
